In [1]:
import nltk
text1="Musk was born in Pretoria, South Africa and briefly attended at the University of Pretoria before moving to Canada at age 18, acquiring citizenship through his Canadian-born mother. Two years later, he matriculated at Queen's University and transferred to the University of Pennsylvania, where he received bachelor's degrees in economics and physics."
fd=nltk.FreqDist(text1.split())
fd

FreqDist({'and': 3, 'at': 3, 'University': 3, 'in': 2, 'the': 2, 'of': 2, 'to': 2, 'he': 2, 'Musk': 1, 'was': 1, ...})

In [2]:
from nltk.probability import ConditionalFreqDist
cfd=ConditionalFreqDist((len(word),word) for word in text1.split())
cfd[3]

FreqDist({'and': 3, 'the': 2, 'was': 1, 'age': 1, '18,': 1, 'his': 1, 'Two': 1})

In [3]:
cfd

In [4]:
from nltk.corpus import inaugural
inaugural.fileids()

['1789-Washington.txt',
 '1793-Washington.txt',
 '1797-Adams.txt',
 '1801-Jefferson.txt',
 '1805-Jefferson.txt',
 '1809-Madison.txt',
 '1813-Madison.txt',
 '1817-Monroe.txt',
 '1821-Monroe.txt',
 '1825-Adams.txt',
 '1829-Jackson.txt',
 '1833-Jackson.txt',
 '1837-VanBuren.txt',
 '1841-Harrison.txt',
 '1845-Polk.txt',
 '1849-Taylor.txt',
 '1853-Pierce.txt',
 '1857-Buchanan.txt',
 '1861-Lincoln.txt',
 '1865-Lincoln.txt',
 '1869-Grant.txt',
 '1873-Grant.txt',
 '1877-Hayes.txt',
 '1881-Garfield.txt',
 '1885-Cleveland.txt',
 '1889-Harrison.txt',
 '1893-Cleveland.txt',
 '1897-McKinley.txt',
 '1901-McKinley.txt',
 '1905-Roosevelt.txt',
 '1909-Taft.txt',
 '1913-Wilson.txt',
 '1917-Wilson.txt',
 '1921-Harding.txt',
 '1925-Coolidge.txt',
 '1929-Hoover.txt',
 '1933-Roosevelt.txt',
 '1937-Roosevelt.txt',
 '1941-Roosevelt.txt',
 '1945-Roosevelt.txt',
 '1949-Truman.txt',
 '1953-Eisenhower.txt',
 '1957-Eisenhower.txt',
 '1961-Kennedy.txt',
 '1965-Johnson.txt',
 '1969-Nixon.txt',
 '1973-Nixon.txt',
 '1977-Carter.txt',
 '1981-Reagan.txt',
 '1985-Reagan.txt',
 '1989-Bush.txt',
 '1993-Clinton.txt',
 '1997-Clinton.txt',
 '2001-Bush.txt',
 '2005-Bush.txt',
 '2009-Obama.txt',
 '2013-Obama.txt',
 '2017-Trump.txt',
 '2021-Biden.txt']

In [9]:
'2009-Obama.txt'

'2009-Obama.txt'

In [10]:
cfd=ConditionalFreqDist((len(word),word) for word in inaugural.words('2009-Obama.txt'))

In [11]:
cfd[4]

FreqDist({'that': 48, 'this': 20, 'will': 19, 'have': 16, 'with': 11, 'they': 11, 'been': 8, 'must': 8, 'than': 8, 'when': 7, ...})

In [23]:
import jieba

In [26]:
seg=jieba.cut("度のラ・リーガ、7度のコパ・デル・レイ、度のチャンピオンズリーグを含むバルセロナ歴代最多35回のタイトル獲得に貢献し、クラブ歴代通算最多得点（672ゴール）の記録を保持しており、ラ・リーガ（474ゴール）歴代最多ゴール記録、チャンピオンズリーグ歴代最多ハットトリック記録（8）、ラ・リーガ歴代最多アシスト記録 を保持している。また、歴代最多7度のバロンドールを受賞し[注 2]、6度のチャンピオンズリーグ得点王と歴代最多6度のゴールデンシューを獲得し、多くのサッカー関係者や選手に世界最高峰のサッカー選手と称されている",cut_all=True)
print(" ".join(seg))

度 のラ・リーガ、 7 度 のコパ・デル・レイ、 度 のチャンピオンズリーグを 含 むバルセロナ 歴 代 最多 35 回 のタイトル 獲 得 に 貢 献 し、クラブ 歴 代 通 算 最多 得 点 （ 672 ゴール）の 記 録 を 保持 しており、ラ・リーガ（ 474 ゴール） 歴 代 最多 ゴール 記 録 、チャンピオンズリーグ 歴 代 最多 ハットトリック 記 録 （ 8 ）、ラ・リーガ 歴 代 最多 アシスト 記 録    を 保持 している。また、 歴 代 最多 7 度 のバロンドールを 受 賞 し[ 注     2 ]、 6 度 のチャンピオンズリーグ 得 点 王 と 歴 代 最多 6 度 のゴールデンシューを 獲 得 し、 多 くのサッカー 関 係 者 や 選 手 に 世界 最高 最高峰 高峰 のサッカー 選 手 と 称 されている

In [21]:
texts=["""Born and raised in central Argentina, Messi relocated to Spain at the age of 13 to join Barcelona, for whom he made his competitive debut aged 17 in October 2004. He established himself as an integral player for the club within the next three years, and in his first uninterrupted season in 2008–09 he helped Barcelona achieve the first treble in Spanish football; that year, aged 22, Messi won his first Ballon d'Or. Three successful seasons followed, with Messi winning four consecutive Ballons d'Or, making him the first player to win the award four times."""]
for text in texts:
    sentences=nltk.sent_tokenize(text)
    for sentence in sentences:
        words=nltk.word_tokenize(sentence)
        print(words)
        tagged=nltk.pos_tag(words)
        print(tagged)

['Born', 'and', 'raised', 'in', 'central', 'Argentina', ',', 'Messi', 'relocated', 'to', 'Spain', 'at', 'the', 'age', 'of', '13', 'to', 'join', 'Barcelona', ',', 'for', 'whom', 'he', 'made', 'his', 'competitive', 'debut', 'aged', '17', 'in', 'October', '2004', '.']
[('Born', 'NNP'), ('and', 'CC'), ('raised', 'VBN'), ('in', 'IN'), ('central', 'JJ'), ('Argentina', 'NNP'), (',', ','), ('Messi', 'NNP'), ('relocated', 'VBD'), ('to', 'TO'), ('Spain', 'NNP'), ('at', 'IN'), ('the', 'DT'), ('age', 'NN'), ('of', 'IN'), ('13', 'CD'), ('to', 'TO'), ('join', 'VB'), ('Barcelona', 'NNP'), (',', ','), ('for', 'IN'), ('whom', 'WP'), ('he', 'PRP'), ('made', 'VBD'), ('his', 'PRP$'), ('competitive', 'JJ'), ('debut', 'NN'), ('aged', 'VBD'), ('17', 'CD'), ('in', 'IN'), ('October', 'NNP'), ('2004', 'CD'), ('.', '.')]
['He', 'established', 'himself', 'as', 'an', 'integral', 'player', 'for', 'the', 'club', 'within', 'the', 'next', 'three', 'years', ',', 'and', 'in', 'his', 'first', 'uninterrupted', 'season', 'in', '2008–09', 'he', 'helped', 'Barcelona', 'achieve', 'the', 'first', 'treble', 'in', 'Spanish', 'football', ';', 'that', 'year', ',', 'aged', '22', ',', 'Messi', 'won', 'his', 'first', 'Ballon', "d'Or", '.']
[('He', 'PRP'), ('established', 'VBD'), ('himself', 'PRP'), ('as', 'IN'), ('an', 'DT'), ('integral', 'JJ'), ('player', 'NN'), ('for', 'IN'), ('the', 'DT'), ('club', 'NN'), ('within', 'IN'), ('the', 'DT'), ('next', 'JJ'), ('three', 'CD'), ('years', 'NNS'), (',', ','), ('and', 'CC'), ('in', 'IN'), ('his', 'PRP$'), ('first', 'JJ'), ('uninterrupted', 'JJ'), ('season', 'NN'), ('in', 'IN'), ('2008–09', 'CD'), ('he', 'PRP'), ('helped', 'VBD'), ('Barcelona', 'NNP'), ('achieve', 'VB'), ('the', 'DT'), ('first', 'JJ'), ('treble', 'JJ'), ('in', 'IN'), ('Spanish', 'JJ'), ('football', 'NN'), (';', ':'), ('that', 'IN'), ('year', 'NN'), (',', ','), ('aged', 'VBD'), ('22', 'CD'), (',', ','), ('Messi', 'NNP'), ('won', 'VBD'), ('his', 'PRP$'), ('first', 'JJ'), ('Ballon', 'NNP'), ("d'Or", 'NN'), ('.', '.')]
['Three', 'successful', 'seasons', 'followed', ',', 'with', 'Messi', 'winning', 'four', 'consecutive', 'Ballons', "d'Or", ',', 'making', 'him', 'the', 'first', 'player', 'to', 'win', 'the', 'award', 'four', 'times', '.']
[('Three', 'CD'), ('successful', 'JJ'), ('seasons', 'NNS'), ('followed', 'VBD'), (',', ','), ('with', 'IN'), ('Messi', 'NNP'), ('winning', 'VBG'), ('four', 'CD'), ('consecutive', 'JJ'), ('Ballons', 'NNP'), ("d'Or", 'NN'), (',', ','), ('making', 'VBG'), ('him', 'PRP'), ('the', 'DT'), ('first', 'JJ'), ('player', 'NN'), ('to', 'TO'), ('win', 'VB'), ('the', 'DT'), ('award', 'NN'), ('four', 'CD'), ('times', 'NNS'), ('.', '.')]